@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" href="~/css/login.css">
 <h1>Tela principal login - DevConnect</h1>
    <main>
        <div>
            <form class="estilo-formulario">
                <img src="~/images/logo-devconnect-lg.svg" alt="logo DevConnect">

                <div class="formulario-campos">
                    <label for="">Nome do Usuário:</label>
                     
                    <input type="text">
                </div>

                <div class="formulario-campos">
                    <label for="">Senha:</label>
                    <input type="password">
                </div>

                <button type="submit" class="formulario-botao-azul">Entrar</button>

                <p>ou</p>

                <a href="#">Esqueceu a senha ?</a>



            </form>

            <section id="secao-cadastro" class="estilo-formulario">
                <p>Não tem uma conta? <a href="#">Cadastre-se</a></p>
            </section>

            <p>Obtenha o aplicativo</p>

            <section id="secao-instalacao">
                <img src="~/images/app-store.svg" alt="Imagem falando da instalação no app-store">
                <img src="~/images/google-play.svg" alt="Imagem falando da instalação no play store">
            </section>
        </div>

    </main>

<main/>
