main{
    
    min-height: 100vh; /*minimo de altura da janela do dispositivo*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div{
    
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 15px;

}

form{
    background-color: #5788a9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 3%;
}

.formulario-campos{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario-botao-azul{
    width: 100%;
}

form > p{
    text-transform: uppercase;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor--preto);
}

form > a,  #secao-cadastro > p > a{
   color: var( --cor--azul-escuro);
   font-size: var(--tamanho-fonte-md);
   text-decoration: none;

}
 

#secao-cadastro > p{
    color: var(--cor--preto);
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.estilo-formulario{
    max-width: 342px;
}

main > div > p{
    color: var(--cor--preto);
    font-size: var(--tamanho-fonte-sm);
}

#secao-instalacao{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.formulario-campos > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor--preto);
    font-weight: 600;
}



