.perfil-estatisticas {
    display: flex;
    gap: 30px;
  
  
  }
  
  .perfil-estatisticas {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  
  .perfil-bio, 
  .botao-bio {
    max-width: 260px;
    text-align: center;
  }
  
  .perfil-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;  /* â† ESSENCIAL */
    text-align: center;
  }
  
  .botao{
    background-color: transparent;
    border: none;
    color: #5483B3;
  }
  
  .botao-bio{
    display: flex;
    gap: 30px;  
    margin: 20px;
  }
  
  .publicacao-cabecario{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px   ;
  }
  
  
  .posts {
    max-width: 600px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .post-texto {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }
  
  .post>h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color:var(--cor-preto);
  }
  
  .post>p {
    font-size: 14px;
    margin: 6px 0;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .actions>img {
    height: 22px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .actions>img {
    transform: scale(1.2);
  }
  
  .likes {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .comentarios {
    color:var(--cor-cinza-medio);
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .comentarios:hover {
    text-decoration: underline;
  }
  
  
  
  
  